.wrapper {
  min-height: 550px;
  max-height: 803px;
  background: linear-gradient(225deg, #ffffff, #f0f5ff);
  height: calc(94vh);
  position: relative;
  overflow: hidden;
  .content {
    width: 92%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    position: relative;
    .notiWrapper {
      width: 50%;
    }
  }
  .text {
    position: relative;
    top: 26%;
    z-index: 1;
    margin-left: 4%;
    .title {
      font-size: 3.43em; //2.875em;
      font-weight: 800;
      color: rgba(0, 0, 0, 1);
      position: relative;
    }
    .description {
      margin-top: 0.83%; //12px;
      margin-bottom: 0px;
      color: rgba(106, 123, 140, 1);
      font-size: 1.14em;
      font-weight: 200;
      position: relative;
      width: 36%;
      max-width: 700px;
    }
    .buttons {
      display: flex;
      margin-top: 5.56%;
      .button {
        cursor: pointer;
        padding: 8px 26px;
        border-radius: 50px;
        width: 134px;
        height: 40px;
        font-size: 1.14em;
        z-index: 10;
        position: relative;
        transition: all 0.3s;
        border: 1px solid #7727f4;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(139, 56, 255);

        &:hover {
          transition: all 0.3;
          color: rgb(167, 139, 255);
          border: 1px solid rgb(167, 139, 255);
          transition: all 0.3s;
        }

        &.primary {
          border: none;
          outline: none;
          color: #fff;
          background: linear-gradient(60deg, #ff7efb, #9248fe 80%, #8a36ff);
          box-shadow: 0px 10px 10px rgba(125, 50, 228, 0.2);

          &:hover {
            box-shadow: 0px 16px 14px rgba(125, 50, 228, 0.2);
            background: linear-gradient(25deg, #ff3ff9, #8735ff 80%, #6b2bff);
            transition: all 0.3;
          }
        }
      }
      .videoButton {
        width: 40px;
        margin-left: 2%;
        background-size: contain;
        cursor: pointer;
        background-image: url('https://gw.alipayobjects.com/mdn/rms_f8c6a0/afts/img/A*rCLDTI4VJGgAAAAAAAAAAABkARQnAQ');
        &:hover {
          background-image: url('https://gw.alipayobjects.com/mdn/rms_f8c6a0/afts/img/A*RhfRSqL9Iy8AAAAAAAAAAABkARQnAQ');
        }
      }
      .githubWrapper {
        margin-left: 2%;
        display: flex;
        .ghBtn {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          border: 1px solid #ced4d9;
          &:hover {
            background: #f2f4f5;
            transition: all 0.3s;
          }
          .ghBtnImg {
            width: 16px;
            height: 16px;
            margin: 11px;
          }
        }
        .gh-count {
          position: relative;
          display: none;
          /* hidden to start */
          margin-left: 12px;
          margin-top: 7px;
          border: 1px solid #d4d4d4;
          padding: 2px 10px;
          height: 65%;
          border-radius: 5px;
          color: rgb(49, 70, 89);
        }
        .gh-count:hover,
        .gh-count:focus {
          color: #4183c4;
        }
        .gh-count:before,
        .gh-count:after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
        }
        .gh-count:before {
          top: 50%;
          left: -3px;
          margin-top: -5px;
          border-width: 4px 4px 4px 0;
          border-right-color: #fafafa;
        }
        .gh-count:after {
          top: 50%;
          border-width: 5px 5px 5px 0;
          border-right-color: #d4d4d4;
          left: -5px;
          z-index: -1;
          margin-top: -6px;
        }
      }
    }
  }
  .notifications {
    width: 80%;
    display: flex;
    bottom: 40px;
    position: absolute;
    margin-left: 4%;
    z-index: 10;
    .notiWrapper {
      width: 50%;
    }
  }
  .teaser {
    display: 'flex';
    position: absolute;
    right: 10%;
    margin-top: -300px;
    width: 52%;
    max-width: 598px;
    height: 324px;
    margin: auto;
    margin-top: 0;
    top: 0;
    bottom: 0;
    .teaserimg {
      width: 100%;
      height: auto;
      position: relative;
    }
  }
  .backLeftBottom {
    position: absolute;
    left: -8%;
    bottom: -20px;
  }
}

:global {
  .anticon-info-circle {
    display: none !important;
  }
  .ant-modal-confirm-btns {
    display: none !important;
  }
  .ant-modal-confirm-title {
    display: none !important;
  }
  .ant-modal-close {
    display: block !important;
  }
  .ant-modal-body {
    padding: 0 !important;
    .ant-modal-confirm-content {
      margin: 0 !important;
    }
  }
}

@media (max-width: 1144px) {
  .wrapper {
    .teaser {
      transition: 0.3s all;
      margin: auto;
      margin-top: 0;
      top: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    .content {
      width: 91.46%;
      margin-left: 4.27%;
      margin-bottom: 5%;
      position: relative;
    }
    .text {
      top: 16.7%;
      text-align: center;
      .title {
        font-size: 2.857em;
        margin-left: 0;
      }
      .description {
        width: 100%;
        margin-left: 0;
        font-size: 1em;
      }
      .buttons {
        text-align: center;
        display: inline-flex;
        .more {
          font-size: 1em;
        }
        .githubIframe {
          height: 40px;
        }
        .videoButton {
          margin-left: 10%;
        }
      }
    }
    .notifications {
      width: 100%;
      bottom: 60px;
      .notiWrapper {
        width: 100%;
        position: absolute;
      }
      .noti0 {
        width: 100%;
        position: absolute;
        animation: showAndHide0 6s infinite;
      }
      .noti1 {
        width: 100%;
        position: absolute;
        animation: showAndHide1 6s infinite;
      }
    }
    .teaser {
      width: 100%;
      max-width: 1200px;
      margin-left: 0;
      margin-right: 0;
      margin-top: auto;
      top: 30%;
      .teaserimg {
        width: 40%;
        margin-left: 30%;
      }
    }
  }
}
@media (max-width: 510px) {
  .wrapper {
    .text {
      .buttons {
        .videoButton {
          display: none;
        }
      }
    }
    .teaser {
      width: 100%;
      top: 20%;
      .teaserimg {
        width: 80%;
        margin-left: 10%;
      }
    }
    .backLeftBottom {
      margin-left: -15%;
      bottom: -90px;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    .text {
      .buttons {
        text-align: center;
        display: inline-block;
        margin-top: 0px;
        .button {
          font-size: 1em;
          margin-top: 10px;
        }
        .githubWrapper {
          margin-top: 15px;
          height: 40px;
          margin-left: 50%;
          transform: translateX(-40px);
        }
      }
    }
    .teaser {
      top: 65%;
      .teaserimg {
        width: 60%;
        margin-left: 20%;
      }
    }
    .backLeftBottom {
      margin-left: -30%;
      bottom: -150px;
    }
  }
}

/* Standard syntax */
@keyframes showAndHide0 {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  33.3% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
    margin-top: -30px;
  }
  83.3% {
    opacity: 0;
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/* Standard syntax */
@keyframes showAndHide1 {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  33.3% {
    opacity: 0;
    margin-top: 30px;
  }
  40% {
    opacity: 1;
    padding-top: 0px;
  }
  83.3% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 0;
    margin-top: -30px;
  }
}
