@import '~antd/es/style/themes/default.less';

.footer {
  font-family: Avenir, @font-family;

  .description {
    opacity: 0.6;
    font-weight: normal;
    margin-left: 0.5em;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    :global(.anticon),
    a {
      margin-right: 8px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
