@import '~antd/es/style/themes/default.less';

.header {
  height: 64px;
  line-height: 64px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: relative;
  z-index: 1;
  font-family: Avenir, @font-family;

  .left {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;

      img {
        display: block;
      }
    }

    .divider {
      width: 1px;
      height: 24px;
      background-color: #ccc;
      display: inline-block;
      margin: 0 16px;
    }

    .subProduceName {
      margin: 0;

      a {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;

    .menu {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.65);
      margin: 0;
      padding: 0;
      list-style: none;
      white-space: nowrap;

      li {
        display: inline-block;
        margin-right: 32px;
        transition: box-shadow 0.3s;

        &.activeItem {
          box-shadow: 0 2px 0 @primary-color inset;
        }

        a {
          color: rgba(0, 0, 0, 0.65);
          transition: color 0.3s;
          display: block;

          &:hover {
            color: @primary-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767.99px) {
  .header {
    .nav {
      .menu {
        display: none;
      }
    }
  }
}
