.playground {
  margin: 0;
  padding: 0;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: flex;

  .preview,
  .editor {
    height: 520px;
    box-sizing: content-box;
  }

  .preview {
    flex: 2;
    border-right: 1px solid #efefef;
    padding: 16px;
    overflow: auto;
  }

  .editor {
    flex: 1.5;
    overflow: hidden;

    .toolbar {
      height: 32px;
      line-height: 32px;
      border-bottom: 1px solid #efefef;
      width: 100%;
    }

    .codemirror {
      height: 100%;
      overflow: hidden;

      :global(.react-codemirror2) {
        height: 100%;
        overflow: hidden;
      }

      :global(.CodeMirror-scroll) {
        box-sizing: content-box;
        padding-top: 16px;
        padding-bottom: 32px;
        margin-right: -32px;
      }

      :global(.CodeMirror) {
        background-image: none;
        line-height: 1.5;
        height: calc(100% - 32px);
        padding: 0 16px;
      }
    }
  }
}
