@editor-height: 520px;

.playground {
  margin: 0;
  padding: 0;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: flex;
  background: #fff;
  height: @editor-height;

  .preview,
  .editor {
    height: 100%;
  }

  .preview {
    flex: 2;
    border-right: 1px solid #efefef;
    padding: 16px;
    overflow: auto;
  }

  .editor {
    flex: 1.5;
    overflow: hidden;
    height: 100%;

    .toolbar {
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #efefef;
      width: 100%;
      padding: 0 16px;
      text-align: right;
      color: #777;

      > * {
        display: inline-block;
        margin-left: 2px;
      }

      :global(.ant-typography-copy) {
        color: #777;
      }
    }

    .codemirror {
      overflow: hidden;
      height: 100%;

      :global(.react-codemirror2) {
        height: 100%;
        overflow: hidden;
        box-sizing: content-box;
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
          Courier, monospace;

        * {
          box-sizing: content-box;
        }
      }

      :global(.CodeMirror-scroll) {
        padding-bottom: 32px;
        margin-right: -32px;
      }

      :global(.CodeMirror) {
        background-image: none;
        line-height: 1.6;
        padding: 8px 16px;
        height: calc(100% - 54px);
      }
    }
  }
}
