.playground {
  margin: 0;
  padding: 0;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: flex;

  .preview,
  .editor {
    height: 540px;
  }

  .preview {
    flex: 2;
    border-right: 1px solid #efefef;
    padding: 16px;
    overflow: auto;
  }

  .editor {
    flex: 1.5;

    .toolbar {
      height: 32px;
      line-height: 32px;
      border-bottom: 1px solid #efefef;
      width: 100%;
    }

    :global(.CodeMirror) {
      background-image: none;
      height: calc(100% - 32px);
      line-height: 1.5;
      padding: 16px;
      overflow: auto;
    }
  }
}
