@import '~antd/es/style/themes/default.less';

.products {
  width: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 64px;
  max-height: 0;
  transition: all 0.3s;
  background: #fff;
  padding: 32px 80px 100px;
  overflow: hidden;
  box-shadow: none;
  line-height: 1.5;
  font-weight: normal;

  &.show {
    max-height: 1000px;
    box-shadow: 0 2px 8px #f0f1f2 inset;
  }

  h3 {
    font-size: 16px;
    margin: 8px 0 24px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .product {
    overflow: hidden;
    width: 25%;
    display: inline-block;
    margin-bottom: 16px;

    img {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      margin-right: 8px;
      float: left;
      display: block;
    }

    .productContent {
      overflow: hidden;

      h4 {
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.85);
        a {
          color: rgba(0, 0, 0, 0.85);
        }
      }

      .productDescription {
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.45);
      }

      .productLinks {
        > a {
          margin-right: 8px;
          transition: all 0.3s;
          display: inline-block;
          color: #597ef7;
        }
      }
    }
  }
}
