.swatch {
  margin: 2em 0;

  .heading {
    margin: 0 0 1em 0;
    display: flex;
    justify-content: space-between;

    h4 {
      margin: 0;
    }

    .darkmode {
      font-size: 12px;
      margin-right: 8px;
      position: relative;
      top: 2px;
      color: #bebecb;
    }
  }

  .colors {
    padding: 24px 14px 18px;
    background-color: #f9f9fb;
    border-radius: 4px;
    transition: all 0.3s;
    display: flex;
    justify-content: space-around;

    .color {
      height: 50px;
      width: 50px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
      overflow: hidden;
      color: #fff;
      text-align: right;
      position: relative;

      &:hover {
        margin-top: -8px;
        height: 58px;
      }

      > span {
        position: absolute;
        bottom: 6px;
        right: 6px;
        width: calc(100% - 6px);
        font-size: 12px;
        transform: scale(10 / 12);
        transform-origin: right bottom;
        line-height: 1.1;
      }
    }
  }

  &.dark .colors {
    background-color: #141414;
  }
}

.block {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  margin: 0 0.2em;
  display: inline-block;
  position: relative;
  top: 1px;
}
