@import '~antd/es/style/themes/default.less';
ul.tabs {
  padding: 14px 27px;
  list-style: none;
  height: 48px;
  background: #f8f9fc;
  position: relative;

  > li {
    padding: 0 !important;
    margin-right: 16px;
    margin-left: 0 !important;
    list-style: none !important;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;

    a {
      color: #697b8c;
      position: relative;
      z-index: 1;

      > h2 {
        margin: 0;
        font-size: 24px;
        line-height: 1;
        transition: all 0.3s;
        position: relative;
        z-index: 1;
      }
    }

    &:hover a {
      color: #274057;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: '';
      position: absolute;
      left: -2px;
      right: -2px;
      height: 0;
      bottom: -3px;
      background-image: transparent;
      transition: all 0.3s;
      max-width: 0;
      height: 2px;
      background-image: linear-gradient(
        45deg,
        fade(@primary-color, 70%) 0%,
        fade(@primary-color, 50%) 100%
      );
    }

    &.active a {
      color: @text-color;
      font-weight: 500;
    }

    &.active:after {
      max-width: calc(100% + 4px);
    }

    &.hidden {
      display: none;
    }

    .count {
      font-size: 13px;
      opacity: 0.4;
      margin-left: 4px;
      position: absolute;
      top: 0;
      right: -16px;
    }
  }

  .hidden {
    display: none;
  }
}

.tabExtra {
  .collapseAll {
    position: absolute;
    height: 17px;
    cursor: pointer;
    right: 45px;
    top: 20px;
    font-size: 12px;
    line-height: 14px;
    color: rgb(104, 122, 139);
    &:hover {
      color: rgba(0, 0, 0, 0.961);
    }
    svg {
      margin-right: 8px;
    }
  }
}
